<div class="card">
	<div class="card-header">
		<b>Championships</b>
	</div>
	<div class="card-body">
		<% @championships.each do |champ| %>
			<p><b><%= link_to champ.name, championship_matches_path(champ) %></b></p>
		<% end %>
	</div>
</div>