<div class="card opacity-75">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
        <b>Make a bet. <%= @championship.name %>. <%= @match.team1 %> - <%= @match.team2 %></b>
      </div>
      <div>
      <%= link_to :back, class: "ml-auto btn btn-success btn-sm" do %>
        <i class="fas fa-undo"></i> Back       
      <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
  </div>
</div>
