<div class="card col-md-6 offset-md-3">
  <div class="card-header">
    <h4 class='text-center'>Contacts</h4>
  </div>
  <div class="card-body">
    <h5 class='text-center'><i class="fas fa-envelope"></i> Support: <a href = "mailto: abc@example.com">support@example.com</a></h5>
    <h5 class='text-center'><i class="fas fa-envelope"></i> Marketing: <a href = "mailto: abc@example.com">marketing@example.com</a></h5>
    <h5 class='text-center'><i class="fas fa-phone"></i></i> Marketing: <a href = "tel: +380 (50) 524-97-56">+380 (50) 524-97-56</a></h5>
  </div>
  </div>
</div>
